# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.venv/
.env

# VSCode
.vscode/
*.code-workspace

# GCP / Secrets
*.json        # Avoid committing SA key files
*.log

# OS Files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
dist/
build/
# Chroma persistent DB
chroma_db/
lancedb/