# Web framework for API
fastapi==0.101.1
uvicorn[standard]==0.23.2

# Google Cloud Storage access
google-cloud-storage==2.14.0       
google-cloud-speech==2.34.0       
google-cloud-texttospeech==2.16.1


# Vector store (ChromaDB) for storing embeddings
chromadb==0.4.24

# Environment variable loading from .env
python-dotenv==1.0.0

# For Streamlit UI
streamlit==1.33.0
streamlit-mic-recorder==0.0.4
requests==2.31.0

# Agentic Framework
openai==1.37.0
crewai==0.36.0
embedchain==0.1.114