fastapi==0.101.1
uvicorn[standard]==0.23.2
python-multipart==0.0.9

httpx==0.27.0
requests==2.31.0
python-dotenv==1.0.1

google-cloud-storage==2.14.0
google-cloud-speech==2.34.0
google-cloud-texttospeech==2.16.1

crewai==0.30.11
crewai-tools==0.1.7

langchain==0.1.16
langchain-community==0.0.33
langchain-openai==0.1.7

# IMPORTANT FIX
openai==1.24.0

chromadb==0.4.24
onnxruntime==1.23.2

lancedb==0.5.7
tiktoken==0.7.0